<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>About us</title>
</head>
<body>
    
 <!------ Header HTML Starts  ------->
 <div class="header">
    <div class="container">
      <b> NEWS : </b>
      <marquee> My college: Intelligence plus curiosity-that is the root of true education. </marquee>
    </div>
  </div>
  <!------ Header HTML Ends ------->
  <!------ Design Logo And Main Menu Section HTML Startss ------->
<div class="container">
    <!-------------------------LOGO SECTION--------------------------->
    <img src="../img/logo/logo.jpeg.jpg" class="logo">
    <!-------------------------MENU SECTION-------------------------->
    <nav>
      <a href="../Template/index.html">Home</a>
      <a href="../Template/About us.html">About us</a>
      <a href="../Template/Event.html">Events</a>
      <a href="../Template/gallery.html">Gallery</a>
      <a href="../Template/notice.html">Notice Board</a>
      <a href="#">Blogs</a>
      <a href="../Template/contact.html">Contact us</a>
    </nav>
  </div>
  <!------ Design Logo And Main Menu Section HTML End ------->
  <!---------- About Us HTML Starts --------->
<div class="main-section">
    <div class="container about-us">
      <div>
        <h2 class="heading">About My HTML CODING SCHOOL</h2>
        <h4>A Unique Heritage School .</h4>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      </div>
      <img src="../img/img/3.jpeg">
    </div>
  </div>
  <!---------- About Us HTML Ends --------->
  <!--------- Testimonial HTML Starts -------->
<div class="main-section ">
    <div class="container">
      <h2 class="heading">What Parents Say About Our School</h2>
      <div class="testimonial">
        <div class="testimonial-text"> Contrary to popular belief, Lorem Ipsum is not simply. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard, a Latin professor at Hampden-Sydney College. </div>
        <div class="testimonial-detail">
          <div class="testimonial-img">
            <img src="../img/img/profile/1.png">
          </div>
          <div class="testimonial-name">
            <h5>Niccky</h5>
            <p>Web Devloper</p>
          </div>
        </div>
      </div>
      <div class="testimonial">
        <div class="testimonial-text"> Contrary to popular belief, Lorem Ipsum is not simply. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard, a Latin professor at Hampden-Sydney College. </div>
        <div class="testimonial-detail">
          <div class="testimonial-img">
            <img src="../img/img/profile/2.jpeg">
          </div>
          <div class="testimonial-name">
            <h5>Richa</h5>
            <p>Web Devloper</p>
          </div>
        </div>
      </div>
      <div class="testimonial">
        <div class="testimonial-text"> Contrary to popular belief, Lorem Ipsum is not simply. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard, a Latin professor at Hampden-Sydney College. </div>
        <div class="testimonial-detail">
          <div class="testimonial-img">
            <img src="../img/img/profile/3.png">
          </div>
          <div class="testimonial-name">
            <h5>Jiya</h5>
            <p>Web Devloper</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--------- Testimonial HTML End --------> 
  <!--------- Footer HTML Starts -------->
<div class="footer">
    <div class="container">
      <div class="footer-sect">
        <img class="footer-logo" src="../img/logo/logo.png">
      </div>
      <div class="footer-sect">
        <a href="#"> Home</a>
        <a href="#"> About us</a>
        <a href="#"> Tutorial</a>
        <a href="#"> Event</a>
        <a href="#"> Gallery</a>
        <a href="#"> Press Release</a>
        <a href="#"> Courses</a>
        <a href="#"> Contact Us</a>
      </div>
      <div class="footer-sect">
        <img src="images/icon-fb.png">
        <img src="images/icon-tw.png">
        <img src="images/icon-in.png">
        <img src="images/icon-li.png">
      </div>
    </div>
  </div>
  <!--------- Footer HTML End --------> 
</body>
</html>