<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Gallery</title>
</head>
<body>
     <!------ Header HTML Starts  ------->
<div class="header">
    <div class="container">
      <b> NEWS : </b>
      <marquee> My college: Intelligence plus curiosity-that is the root of true education. </marquee>
    </div>
  </div>
  <!------ Header HTML Ends ------->
  <!------ Design Logo And Main Menu Section HTML Startss ------->
<div class="container">
    <!-------------------------LOGO SECTION--------------------------->
    <img src="../img/logo/logo.jpeg.jpg" class="logo">
    <!-------------------------MENU SECTION-------------------------->
    <nav>
      <a href="../Template/index.html">Home</a>
      <a href="../Template/About us.html">About us</a>
      <a href="../Template/Event.html">Events</a>
      <a href="../Template/gallery.html">Gallery</a>
      <a href="../Template/notice.html">Notice Board</a>
      <a href="#">Blogs</a>
      <a href="../Template/contact.html">Contact us</a>
    </nav>
  </div>
  <!------ Design Logo And Main Menu Section HTML End ------->
  <!--------- Gallery HTML Starts -------->
<div class="main-section gallery" style="background:#f0f3fa">
    <div class="container ">
      <h2 class="heading">Our School Gallery</h2>
      <img src="/img/img/gallery/1.png">
      <img src="../img/img/gallery/2.jpg">
      <img src="../img/img/gallery/3.jpg">
      <img src="../img/img/gallery/4.jpg">
      <img src="../img/img/gallery/5.png">
      <img src="../img/img/gallery/1.png">
      <img src="../img/img/gallery/2.jpg">
      <img src="../img/img/gallery/3.jpg">
    </div>
 .. </div>
  <!--------- Gallery HTML End --------> 
  <!--------- Footer HTML Starts -------->
<div class="footer">
    <div class="container">
      <div class="footer-sect">
        <img class="footer-logo" src="../img/logo/logo.png">
      </div>
      <div class="footer-sect">
        <a href="#"> Home</a>
        <a href="#"> About us</a>
        <a href="#"> Tutorial</a>
        <a href="#"> Event</a>
        <a href="#"> Gallery</a>
        <a href="#"> Press Release</a>
        <a href="#"> Courses</a>
        <a href="#"> Contact Us</a>
      </div>
      <div class="footer-sect">
        <img src="images/icon-fb.png">
        <img src="images/icon-tw.png">
        <img src="images/icon-in.png">
        <img src="images/icon-li.png">
      </div>
    </div>
  </div>
  <!--------- Footer HTML End --------> 
</body>
</html>